@import "../../../theme.scss";

.image{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: $border-radius-doubled $border-radius-doubled 0 0;
}

.imageDisabled{
  @extend .image;
  filter: grayscale(100%);
}
.productCard {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}


.starsWrapper{
  margin-bottom: 18px;
}

.promo{
  position: absolute;
  left: 0;
  top: 23px;
  height: 24px;
  width: 75px;
  color: white;
  background-color: $promo-color;
  padding: 4px;
  text-align: center;
}