@import "../../app/theme.scss";

.pageWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  .image {
    width: 100%;
    @include mobile {
      display: none;
    }
  }
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: $small-margin-size 212px 0 $margin-size;
  @include mobile {
    margin: 40px $margin-size-mobile;
    justify-content: flex-start;
  }
  .logo {
    align-self: flex-start;
    margin-bottom: 103px;
  }

  a {
    color: $disabled-color;
    text-decoration: underline;
  }
}

.formWrapper {
  height: 70%;
  gap: 22px;
  width: 496px;
  @include mobile {
    width: 100%;
  }
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &:first-of-type {
    margin-bottom: 22px;
    margin-top: 29px;
  }
}

.button {
  margin-top: 56px;
  margin-bottom: 16px;
}
