@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import './theme.scss';

#root{
    height: fit-content;
}

body {
    font-family: $default-font;
    color:$font-color;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    
}

h3{
    font-size: $font-size + 2;
    color: $font-color;
  }
p{
    color:$gray-darker;
}