@import "../../app/theme.scss";

.searchWrapper {
  min-width: 300px;
  max-width: 400px;
  :global(.ant-input-affix-wrapper) {
    border-color: $border-color;
    &:focus {
      border-color: $border-color !important;
    }
    &:hover {
      border-color: $border-color !important;
    }
  }

  :global(.ant-input-affix-wrapper-focused) {
    box-shadow: none !important;
  }
}
.search {
  border-radius: 2*$border-radius !important;
  align-self: center;
  :global(.ant-input) {
    &::placeholder {
      color: $font-color !important;
    }
  }
}

