@import "../../app/theme.scss";

.searchWrapper {
  min-width: 300px;
  width: 392px;
  :global(.ant-input-affix-wrapper) {
    border-color: $border-color;
    &:focus {
      border-color: $border-color !important;
    }
    &:hover {
      border-color: $border-color !important;
    }
  }

  :global(.ant-input-affix-wrapper-focused) {
    box-shadow: none !important;
  }
}
.search {
  border-radius: $border-radius-doubled !important;
  align-self: center;
  height: $input-height;
  padding: 0 16px !important;
  :global(.ant-input) {
    &::placeholder {
      color: $font-color !important;
    }
  }
}

.searchIcon{
  border: none !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

