@import "../../../theme.scss";

.content{
  padding: $margin-size/2 $margin-size;
  background-color: $background-color;
  padding-bottom: $margin-size/2 - 16px;
  height: 100%;

  @include mobile{
    padding: $margin-size-mobile
  }

}
