@import "../../app/theme.scss";
.button{
  align-self: center;
  width: 100%;
  button {
    width: 100%;
  }
  :global(.ant-btn){
    height: 38px;
  }
}
.buttonPrimary {
  @extend .button;

  :global(.ant-btn-primary) {
    background-color: $primary-color;
    border-color: $primary-color;
    border-radius: $border-radius;
    &:hover,
    &:focus {
      background-color: $hover-color;
      border-color: $hover-color;
    }
    &:disabled {
      background-color: $disabled-color;
      border-color: $disabled-color;
      color: white;
      &:hover,
      &:focus,
      & :active {
        background-color: $disabled-color;
        border-color: $disabled-color;
        color: white;
      }
    }
  }
}

.buttonOutlined {
  @extend .button;

  :global(.ant-btn-default) {
    color: $primary-color;
    border-color: $primary-color;
    border-radius: $border-radius;
    &:hover,
    &:focus {
      color: $hover-color;
      border-color: $hover-color;
    }
    &:disabled {
      border-color: $disabled-color;
      color: $disabled-color;
      background-color: transparent;
      &:hover,
      &:focus,
      & :active {
        border-color: $disabled-color;
        color: $disabled-color;
        background-color: transparent;
      }
    }
  }
}
